 <!-- <p class="mb-0">{{user.url}}</p> -->
 <div class="container">
    <h1>Users</h1>
  <hr>
  <div id="search">
      <app-user-form></app-user-form>
  </div>
  <hr>
  <br>
  <ul>
      <div class="row">
        <div class="col-md-6">
    <!-- <img src="" alt=""> -->
        </div>
        <div class="col-md-6" style="text-align: center;">
    <div *ngFor='let user of users let i=index'>
      <li appHighlight>{{user.name|uppercase}}</li>
      <li>Member since : {{user.memberDate|date}}</li>
      <br>
  
      <button (click)="toggleDetails(i)">Show More</button>
      <app-repository *ngIf="user.showRepositories"[user]="user" (onPage)="currentPage($event,i)"></app-repository>
    </div>
    </div>
  </div>
  </ul>
  </div>
  

