 <!-- <p class="mb-0">{{user.url}}</p> -->
 <div class="container">
    <h1>Users</h1>
  <hr>
  <div id="search">
      <app-user-form (emitresults)="onClick($event)"></app-user-form>
  </div>
  <hr>
  <br>
 
      <div class="row">
        <div class="col-md-6">
          <img src="{{user.avatar_url}}" alt="">

        </div>
        <div class="col-md-6">
    <div *ngIf='user'>
            <p>{{user.name}}</p>
      <button><a href="{{user.url}}"> view profile</a></button>
      </div>
      <div class="col-md-6">
      
              <p>Repositories:{{user.public_repos}}</p>
            <p>Date joined:{{user.created_at|date}}</p>
              <p>Followers: {{user.followers}}</p>
              <p>Following: {{user.following}}</p>
           </div>
  
      <!-- <li appHighlight>{{user.name|uppercase}}</li> -->
      <p>Active for : {{user.created_at|dates}}<br>
      {{user.avatar_url}}</p>
      
  
      <!-- <button (click)="toggleDetails(i)">Show More</button>
      <app-repository *ngIf="user.showRepositories"[user]="user" (onPage)="currentPage($event,i)"></app-repository> -->
    </div>

    </div>
    <div class="contaner" *ngFor = "let repos of repositories">
      <h1>{{ repos.name}}</h1>
      <p>{{repos.description}}</p>
      <br>
      <p> <a href="{{repos.html_url}}">Descrpition</a></p>
    </div>
  </div>

  

